*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* body{
    background:black;

} */

/* .loading-gif{
    z-index:2;
} */

.thankyou-container {
    background-color: rgb(13, 7, 78);
    padding: 2rem;
    max-width: 576px;
    width: 700px;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
    margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black; 
    display: flex;
    flex-direction: column;
    height:300px;
  }

 .body {
    background:#ff4c68;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
} 

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.container span{
   
    text-transform: uppercase;
    display: block;
}
.text1{
    color:white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing:8px;
    margin-bottom:20px;
    background:rgb(13, 7, 78);
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 30px;
    color:#6ab04c
}

@keyframes text{
    0%{
        color: #000;
        margin-bottom: -40px;
         
    }
    30%{
        letter-spacing: 25px;
        margin-bottom:-40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom:-40px;
    }
}

.btn-group {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background:white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Initially hide the GIF */
.hide-gif {
    display: none;
  }
  
  /* Show the GIF */
  .show-gif {
    display: block;
  }
  




