<table border="1px">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Seat ID</th>
        
        <th>Tower Name</th>
        <th>Floor Number</th>
        <th>Duration</th>
        <th>Bems_ID</th>
        <th>Availability Status</th>

        <th>From Date</th>
        <th>To Date</th>
        <!-- Add other headings as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.booking_ID }}</td>
        <td>{{ booking.seatId }}</td>
        <td>{{ booking.towerName }}</td>
        <td>{{booking.floorNumber}}</td>
        <td>{{booking.duration}}</td>
        <td>{{booking.bemsId}}</td>
        
        <td>{{booking.availabilityStatus}}</td>
        <td>{{booking.booking_date}}</td>
        <td>{{booking.to_date}}</td>
       
      </tr>
    </tbody>
  </table>
  