body {
    background-color: #ff4c68; /* Set background color for the entire page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-container {
    background-color: #170a6c; /* Set background color for the content area */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.colleague-item {
    background-color: #aaa;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
}
