<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console Commandos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    <section id="title" class="gradient-background">
        <div class="container col-xxl-8 px-4 py-5">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <br>
                <br>
                <h1 class="navbar-brand" style="font-size: 30px;">Console Commandos</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="http://helpdesk.web.boeing.com/ticket/"> Contact Us</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#container-fluid">Latest News</a>
                        </li>

                    </ul>

                </div>


            </nav>







            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/images/IMG-20231013-WA0013_2.jpeg" class="d-block mx-lg-auto img-fluid" alt="Console Commandos Themes" style="border-radius: 50%;"  width="400" height="500">
                </div>
                
                
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="text-align: left;">Welcome to the Seat Booking Portal.</h1>

                    <br>
                    <br>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button routerLink="/sign-up" class="btn btn-light btn-lg px-4 me-md-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zm0 22.667c-5.886 0-10.667-4.78-10.667-10.667 0-5.886 4.78-10.667 10.667-10.667 5.886 0 10.667 4.78 10.667 10.667 0 5.886-4.78 10.667-10.667 10.667zm1.333-10.667c0 .369-.298.667-.667.667H6.667c-.369 0-.667-.298-.667-.667 0-.369.298-.667.667-.667h6c.369 0 .667.298.667.667z"/>
                                <path d="M8.667 13.667h4a.667.667 0 0 1 0 1.333h-4a.667.667 0 0 1 0-1.333z"/>
                              </svg>
                            Sign-Up
                        </button>
                        <button routerLink="/sign-in" class="btn btn-outline-light btn-lg px-4" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zm0 22.667c-5.886 0-10.667-4.78-10.667-10.667 0-5.886 4.78-10.667 10.667-10.667 5.886 0 10.667 4.78 10.667 10.667 0 5.886-4.78 10.667-10.667 10.667zm1.333-10.667c0 .369-.298.667-.667.667H6.667c-.369 0-.667-.298-.667-.667 0-.369.298-.667.667-.667h6c.369 0 .667.298.667.667z"/>
                                <path d="M8.667 13.667h4a.667.667 0 0 1 0 1.333h-4a.667.667 0 0 1 0-1.333z"/>
                              </svg>

                            Sign-In
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container col-xxl-8 px-4 py-5 mt-3" >
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg"  height="30" viewBox="0 0 100 100">
                    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="2" fill="yellow" />
                    <circle cx="35" cy="35" r="5" fill="black" />
                    <circle cx="65" cy="35" r="5" fill="black" />
                    <path d="M35 50 Q50 75 65 50" stroke="black" stroke-width="3" fill="transparent" />
                  </svg>
                  
              </div>
              <div>
                <h3 class="fs-10 text-body-emphasis">User Friendly</h3>
                <p>Easy to use, anyone can book a seat</p>
                
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg"  height="30" viewBox="0 0 100 100">
                    <!-- Queue line -->
                    <line x1="20" y1="50" x2="80" y2="50" stroke="black" stroke-width="5" />
                  
                    <!-- People in the queue -->
                    <circle cx="25" cy="50" r="5" fill="blue" />
                    <circle cx="35" cy="50" r="5" fill="red" />
                    <circle cx="45" cy="50" r="5" fill="green" />
                    <circle cx="55" cy="50" r="5" fill="purple" />
                    <circle cx="65" cy="50" r="5" fill="orange" />
                  </svg>
                  
              </div>
              <div>
                <h3 class="fs-10 text-body-emphasis">First Come First Serve</h3>
                <p>Works as Round Robin algorithm i.e., in Operating Systems.</p>
                
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg"  height="30" viewBox="0 0 100 100">
                    <!-- Calendar body -->
                    <rect x="20" y="30" width="60" height="40" fill="lightgray" />
                    <rect x="25" y="20" width="50" height="60" fill="white" />
                  
                    <!-- Days numbers -->
                    <text x="35" y="50" font-size="20" fill="black">1</text>
                    <text x="55" y="50" font-size="20" fill="black">2</text>
                    <text x="75" y="50" font-size="20" fill="black">3</text>
                  </svg>
                  
              </div>
              <div>
                <h3 class="fs-10 text-body-emphasis">Days Monitored</h3>
                <p>Booking Days will be Monitored.</p>
                
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="container-fluid">
        <div class="slider-wrapper">
            <div class="slider">
                <h2 id="slide-1">Here's what went behind Air India's deal with Boeing</h2>
                <p>The order comprises 20 Boeing 787s and 10 Boeing 777-9s wide-body aircraft and 190 Boeing 737 MAX single-aisle aircraft. All single-aisle aircraft will be powered by engines from CFM International," the airline said in a statement.</p>
            </div>
            <div class="slider">
                <h2 id="slide-2">Boeing India to open its largest facility outside the US in Bengaluru</h2>
                <p>Boeing India to open a 43 acre complex located at Aerospace Park in Devanahalli, near Kempegowda International Airport

                    Built with Rs 1600 crore investment, this will be the largest site for Boeing outside the United States. Boeing India has set a Rs 10,000 crore/yearly target for increasing sourcing from India, from the current Rs 8000 crore.</p>
            </div>
            <!-- <div class="slider">
                <h2 id="slide-3">Slide 3</h2>
            </div>
            <!-- <div class="slider">
                <h2 id="slide-4">Slide 3</h2>
            </div>
            <div class="slider">
                <h2 id="slide-5">Slide 3</h2>
            </div> --> -->
        </div>
    </section>


    <section id="About">
        <h1>About us:</h1>
        <p>Welcome to our corporate seat booking app, where efficiency meets comfort. We provide seamless booking solutions for your workspace, ensuring a productive and flexible work environment. Join us to experience a new era of office convenience</p>

    </section>

    <section id="footer">
        <div class="footer-class" style="background-color: #ff4c68;">
            <p > © Copyright 2023 Console Commandos</p>
        </div>

    </section>
    
    

    
</body>
</html>